@model Person

@{
    ViewData["Title"] = "Details of" + Model.Name;
}
@{ if (ViewBag.Message == null)
    {
    <h1>Details of</h1>
    <h2>@Model.Name</h2>
    <h2>@Model.PhoneNumber</h2>
    <h2>@Model.CityName</h2>
    <a asp-action="Details" metod="Post" asp-route-person="@Model">Delete Person</a>
    }
    else
    {
    <h1>ViewBag.Message</h1>
        }
    }
<a asp-action="Index">Back to List</a>

