@model List<Person>
@{
    ViewData["Title"] = "Person - Index";
}

<h1>Person Index</h1>
<form asp-action="Index" method="post">
    <input type="text" name="search" />
    <button type="Submit">Search Person</button>
</form>

<a asp-action="Create">Add new Person</a>

<div>
    <div>
        <div>
            <div id="divcol">Name</div>
            <div id="divcol">City</div>
        </div>
    </div>
    <div>
        @foreach (Person person in Model)
        {
                <partial name="~/Views/Shared/_PersonView.cshtml" model="person"/>
        }
    </div>
</div>
@if (ViewBag.Message != "Search")
{
    <a asp-action="Index">Show All</a>
}