@model List<Person>
@{
    ViewData["Title"] = "Person - Index";
}

<h1>Person Index</h1>
<form asp-action="Index" method="post">
    <input type="text" name="search" />
    <button type="Submit">Search Person</button>
</form>

<a asp-action="Create">Add new Person</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.CityName</td>
                <td><a asp-action="Details" asp-route-id="@person.Id">Details</a></td>
            </tr>
        }
    </tbody>


</table>
@if (ViewBag.Message != "Search")
{
    <a asp-action="Index">Show All</a>
}